.pink-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-0);
  background-color: light-dark(var(--color-pink-8), var(--color-pink-9));
  gap: 8px;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color var(--timing) ease;
  padding: var(--spacing-sm);
}

/* icona nascosta in desktop  e tablet */
.pink-btn svg {
  display: none;
}

/* Hover */
.pink-btn:hover:not(:disabled) {
  background-color: var(--color-pink-6);
  transition: background-color var(--timing) ease;
}

/* Focus (accessibilità) */
.pink-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-pink-3);
  transition: box-shadow var(--timing) ease;
}

/* Disabled */
.pink-btn:disabled {
  background-color: var(--color-gray-4);
  cursor: not-allowed;
  box-shadow: none;
  color: var(--color-gray-2);
}

/* Dimensioni bottone */
.pink-btn-small {
  font-size: var(--font-size-xs);
  padding: var(--spacing-xs) var(--spacing-sm);
}

.pink-btn-medium {
  font-size: var(--font-size-body);
  padding: var(--spacing-sm) var(--spacing-md);
}

.pink-btn-large {
  font-size: var(--font-size-h5);
  padding: var(--spacing-md) var(--spacing-lg);
}

/* Media Queries per Responsività */
/* Tablet: max-width 834px */
@media screen and (max-width: 834px) {
  .pink-btn {
    font-size: var(--font-size-body);
    padding: var(--spacing-sm);
    justify-content: center;
  }
}
/* Mobile: max-width 320px */
@media screen and (max-width: 320px) {
  .pink-btn {
    font-size: var(--font-size-sm);
    padding: var(--spacing-sm);
    justify-content: center;
  }

  /* Testo nascosto in mobile */
  .pink-btn .button-text {
    display: none;
  }

  /* Icona visibile solo in mobile */
  .pink-btn svg {
    display: inline-block;
    width: var(--font-size-h3);
    height: var(--font-size-h3);
    margin: 0;
    vertical-align: middle;
    color: var(--color-gray-0);
  }
}
